<div class="form-group">
    <label for="delay">Delay before the music starts (in seconds)</label>
    <input type="text" class="form-control" id="delay" placeholder="Delay" aria-label="Delay" value="5">
</div>
</br>
</br>
 
<div class="form-group">
    <label for="position"> Position where the music will start (in seconds)</label>
    <div class="input-group">	  
      <input type="text" class="form-control" id="position" placeholder="Custom position" aria-label="Custom position">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" onclick="playAt($('#position').val() * 1000)">Go!</button>
      </span>
    </div>
</div>

 
<div class="form-group">
	<button style="margin-bottom: 10px;" onclick="playAt(00000)">Intro</button>
	<button style="margin-bottom: 10px;" onclick="playAt(15000)">Couplet 1</button>
	<button style="margin-bottom: 10px;" onclick="playAt(48000)">Refrain 1</button>
	<button style="margin-bottom: 10px;" onclick="playAt(60000)">Couplet 2</button>
	<button style="margin-bottom: 10px;" onclick="playAt(00000)">Refrain 2</button>
	<button style="margin-bottom: 10px;" onclick="playAt(00000)">Solo guitare</button>
	<button style="margin-bottom: 10px;" onclick="playAt(00000)">Refrain 3</button>
	<button style="margin-bottom: 10px;" onclick="playAt(00000)">Final</button>
</div>

<script type="text/javascript">
	function playAt (time){
		$.ajax({
			url: '/playHHYAt/' + time + '/' + ($("#delay").val() * 1000),
			method: 'GET',
			success: function(result) {
				console.log('done');
			}
		})
	}
</script> 