{
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "parser": "babel-eslint",
  "plugins": ["flowtype", "import", "react", "sonarjs"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:import/errors",
    "plugin:flowtype/recommended",
    "airbnb",
    "plugin:sonarjs/recommended",
    "prettier"
  ],
  "rules": {
    "arrow-body-style": ["error", "as-needed"],
    "flowtype/no-types-missing-file-annotation": "off",
    "import/no-mutable-exports": "error",
    "linebreak-style": "off",
    "no-console": "off",
    "no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": false
      }
    ],
    "prefer-destructuring": [
      "error",
      {
        "AssignmentExpression": {
          "array": false,
          "object": true
        }
      },
      {
        "enforceForRenamedProperties": false
      }
    ]
  },
  "globals": {
    "__dirname": true,
    "__APP_VERSION__": true
  },
  "env": {
    "browser": true,
    "es6": true,
    "commonjs": true
  },
  "settings": {
    "import/resolver": "webpack",
    "flowtype": {
      "onlyFilesWithFlowAnnotation": false
    }
  }
}
